

h6 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.25em;
}

h6 span {
  opacity: 1;
  display: inline-block;
  /* filter 属性定义了元素(通常是<img>)的可视效果(例如：模糊与饱和度)。 */
  /* blur()给图像设置高斯模糊。"radius"一值设定高斯函数的标准差，或者是屏幕上以多少像素融在一起， 所以值越大越模糊； */
  animation: animate 1s linear forwards;
}
@keyframes animate
{
  0% {
      filter: blur(0px);
      opacity: 1;

  }
  100% {
      filter: blur(6px);
      opacity: 0;
      transform:translateY(-50%) rotate(40deg);
      scale(0.5);
  }
}
/* :nth-child(n) 选择器匹配属于其父元素的第 N 个子元素，不论元素的类型。
n 可以是数字、关键词或公式。 */
h6 span:nth-child(0) {
  animation-delay:0s;
}
h6 span:nth-child(1) {
  animation-delay:1s;
}
h6 span:nth-child(2) {
  animation-delay: 1.25s;
}
h6 span:nth-child(3) {
  animation-delay: 1.5s;
}
h6 span:nth-child(4) {
  animation-delay: 1.75s;
}
h6 span:nth-child(5) {
  animation-delay: 2s;
}
h6 span:nth-child(6) {
  animation-delay: 2.25s;
}
h6 span:nth-child(7) {
  animation-delay: 2.5s;
}
h6 span:nth-child(8) {
  animation-delay: 2.75s;
}
h6 span:nth-child(9) {
  animation-delay: 3s;
}
h6 span:nth-child(10) {
  animation-delay: 3.25s;
}
h6 span:nth-child(11) {
  animation-delay: 3.5s;
}
h6 span:nth-child(12) {
  animation-delay: 3.75s;
}
h6 span:nth-child(13) {
  animation-delay: 4s;
}
h6 span:nth-child(14) {
  animation-delay: 4.25s;
}
h6 span:nth-child(15) {
  animation-delay: 4.5s;
}
h6 span:nth-child(16) {
  animation-delay: 4.75s;
}
h6 span:nth-child(17) {
  animation-delay: 5s;
}
h6 span:nth-child(18) {
  animation-delay: 5.25s;
}
h6 span:nth-child(19) {
  animation-delay: 5.5s;
}
h6 span:nth-child(20) {
  animation-delay: 5.75s;
}
h6 span:nth-child(21) {
  animation-delay: 6s;
}
h6 span:nth-child(22) {
  animation-delay: 6.25s;
}
h6 span:nth-child(23) {
  animation-delay: 6.5s;
}
h6 span:nth-child(24) {
  animation-delay: 6.75s;
}
h6 span:nth-child(25) {
  animation-delay: 7s;
}
h6 span:nth-child(26) {
  animation-delay: 7.25s;
}
h6 span:nth-child(27) {
  animation-delay: 7.5s;
}
h6 span:nth-child(28) {
  animation-delay: 7.75s;
}
h6 span:nth-child(29) {
  animation-delay: 8s;
}
h6 span:nth-child(30) {
  animation-delay: 8.25s;
}
h6 span:nth-child(31) {
  animation-delay: 8.5s;
}
h6 span:nth-child(32) {
  animation-delay: 8.75s;
}
h6 span:nth-child(33) {
  animation-delay: 9s;
}
h6 span:nth-child(34) {
  animation-delay: 9.25s;
}
h6 span:nth-child(35) {
  animation-delay: 9.5s;
}
h6 span:nth-child(36) {
  animation-delay: 9.75s;
}
h6 span:nth-child(37) {
  animation-delay: 10s;
}
h6 span:nth-child(38) {
  animation-delay: 10.25s;
}
h6 span:nth-child(39) {
  animation-delay: 10.5s;
}
h6 span:nth-child(40) {
  animation-delay: 10.75s;
}
h6 span:nth-child(41) {
  animation-delay: 11s;
}
h6 span:nth-child(42) {
  animation-delay: 11.25s;
}
h6 span:nth-child(43) {
  animation-delay: 11.5s;
}
h6 span:nth-child(44) {
  animation-delay: 11.75s;
}
h6 span:nth-child(45) {
  animation-delay: 12s;
}
h6 span:nth-child(46) {
  animation-delay: 12.25s;
}
h6 span:nth-child(47) {
  animation-delay: 12.5s;
}
h6 span:nth-child(48) {
  animation-delay: 12.75s;
}
h6 span:nth-child(49) {
  animation-delay: 13s;
}
h6 span:nth-child(50) {
  animation-delay: 13.25s;
}
h6 span:nth-child(51) {
  animation-delay:13.5s;
}